<section class="gray">
	<div class="container">
		<h1 class="section-name text-center">Наши клиенты</h1>
		<div class="row">
			<div class="partners">
				<div class="partners__item">
					<%= image_tag "logo/CHDParts.jpg" %>
				</div>
				
				<div class="partners__item">
					<%= image_tag "logo/pharma_group.jpg" %>
				</div>

				<div class="partners__item">
					<%= image_tag "logo/akvitans.jpg" %>
				</div>
				<div class="partners__item">
					<%= image_tag "logo/MB.jpg" %>
				</div>
				
				<div class="partners__item">
					<%= image_tag "logo/ukr_kosmetika.jpg" %>
				</div>
			</div>
		</div>
	</div>
</section>

